﻿<footer id="footer" class="mt-5">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between py-5">
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-001">
                    <div class="footer-intro mb-4">
                        <a href="index.html">
                            <img src="~/assets/images/logo SCENTORY (1).png" alt="logo"
                                 style="width:200px; height: 200px;">
                        </a>
                    </div>

                    <div class="social-links">
                        <ul class="list-unstyled d-flex flex-wrap gap-3">
                            <li>
                                <a href="https://www.facebook.com/scentory.notes/" class="text-secondary">
                                    <img src="~/assets/images/logo Facebook.png" alt="logo"
                                         style="width:25px; height: 25px;">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/scentory.notes/" class="text-secondary">
                                    <img src="~/assets/images/logo instagram.png" alt="logo"
                                         style="width:28px; height: 28px;">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.tiktok.com/%40scentorynotes" class="text-secondary">
                                    <img src="~/assets/images/logo tiktok.jpg" alt="logo"
                                         style="width:25px; height: 25px;">
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-002">
                    <h5 class="widget-title text-uppercase mb-4">Được chứng nhận</h5>
                    <div style="display: flex; align-items: center; justify-content: flex-start; gap: 15px; margin-top: 0px;">
                        <p><img style="height: 50px;" img src="~/assets/images/iso.jpg" alt="ISO Certified" /> </p>
                        <p><img style="height: 50px;" img src="~/assets/images/ifra.jpg" alt="IFRA" /> </p>
                    </div>
                    <div>
                        <img style="height: 50px;" img src="~/assets/images/đã thông báo bộ Công Thương.png" alt="Bộ Công Thương" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-003">
                    <h5 class="widget-title text-uppercase mb-4">Hỗ trợ</h5>
                    <ul class="menu-list list-unstyled border-animation-left fs-6">
                        <li class="menu-item">
                            <a href="/Home/CS_Banhang" class="item-anchor">Chính sách Bán hàng</a>
                        </li>
                        <li class="menu-item">
                            <a href="/Home/CS_Doitra" class="item-anchor">Chính sách Đổi trả và Hoàn tiền</a>
                        </li>
                        <li class="menu-item">
                            <a href="/Home/CS_Giaohang" class="item-anchor">Chính sách Giao hàng</a>
                        </li>
                        <li class="menu-item">
                            <a href="/Home/CS_Baomat" class="item-anchor">Chính sách Bảo mật thông tin</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-004 border-animation-left">
                    <h5 class="widget-title text-uppercase mb-4">Liên hệ</h5>
                    <p style="color:black; font-size: 16px">
                        Địa chỉ: 279 Nguyễn Tri Phương, Phường Diên Hồng, TP. Hồ Chí Minh<br />
                        Email: scentorynotes@gmail.com <br />
                        Hotline: 0899123456
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top py-4">
        <div class="container">

                <div class="col-md-6 text-end">
                    <p>
                        © Copyright 2025 Scentory. </p>
                </div>
            </div>
        </div>
</footer>