
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header py-5">
    <div class="container text-center">
        <h1 class="section-title text-uppercase" data-aos="fade-up">BÀI VIẾT DÀNH CHO BẠN</h1>
        <p class="text-secondary w-100 mx-auto" data-aos="fade-up" data-aos-delay="200">
            Hãy cùng khám phá nhiều điều mới với những bài viết dưới đây nhé!
        </p>
    </div>
</section>

<section>
    <div class="container">
    <div class="row" data-aos="zoom-out">
        <div class="col-md-4">
            <article class="post-item">
                <div class="post-image">
                    <a href="index.html">
                        <img src="~/assets/images/Whisper có bg.png" alt="image" class="post-grid-image img-fluid" style="border-radius:10px">
                    </a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                    <div class="post-meta text-uppercase fs-6 text-secondary">
                        <span class="post-category">Nước hoa /</span>
                        <span class="meta-day"> 24 tháng 11, 2025</span>
                    </div>
                    <h5 class="post-title">
                        <a href="index.html">Whisper – Thầm: Lời thì thầm của hoa hồng và xạ hương dành cho tâm hồn mơ mộng</a>
                    </h5>
                    <p>Whisper – Thầm là sản phẩm nước hoa đầu tiên trong bộ sưu tập Reminiscence của Scentory. ...</p>
                        <a href="#" style="text-decoration:none; font-weight:600;">
                            Đọc thêm »
                        </a>
                </div>
            </article>
        </div>
            <div class="col-md-4">
            <article class="post-item">
                <div class="post-image">
                    <a href="index.html">
                        <img src="~/assets/images/Spring 50ml.png" alt="image" class="post-grid-image img-fluid">
                    </a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                    <div class="post-meta text-uppercase fs-6 text-secondary">
                        <span class="post-category">Tinh dầu /</span>
                        <span class="meta-day"> 22 tháng 11, 2025</span>
                    </div>
                    <h5 class="post-title">
                        <a href="index.html">Tinh dầu và không gian sống: Làm thế nào một giọt hương có thể thay đổi tâm trạng cả ngày?</a>
                    </h5>
                    <p>Mỗi căn nhà đều có mùi hương riêng. Có nhà thơm mùi nắng, có nhà vương chút hương gỗ trầm, ...</p>
                </div>
            </article>
        </div>
            <div class="col-md-4">
            <article class="post-item">
                <div class="post-image">
                    <a href="index.html">
                        <img src="~/assets/images/Tay cầm Whisper.png" alt="image" class="post-grid-image img-fluid">
                    </a>
                </div>
                <div class="post-content d-flex flex-wrap gap-2 my-3">
                    <div class="post-meta text-uppercase fs-6 text-secondary">
                        <span class="post-category">Bí quyết/</span>
                        <span class="meta-day"> 30 tháng 11, 2025</span>
                    </div>
                    <h5 class="post-title">
                        <a href="index.html">Bí quyết xịt nước hoa đúng cách: Xịt đúng – Lưu lâu</a>
                    </h5>
                    <p>Nước hoa đã trở thành một trong những thứ không thể thiếu trong cuộc sống. Xịt nước hoa không chỉ ...</p>
                </div>
            </article>
        </div>
            <div class="col-md-4">
                <article class="post-item">
                    <div class="post-image">
                        <a href="index.html">
                            <img src="~/assets/images/Tay cầm Whisper.png" alt="image" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Bí quyết/</span>
                            <span class="meta-day"> 30 tháng 11, 2025</span>
                        </div>
                        <h5 class="post-title">
                            <a href="index.html">Bí quyết xịt nước hoa đúng cách: Xịt đúng – Lưu lâu</a>
                        </h5>
                        <p>Nước hoa đã trở thành một trong những thứ không thể thiếu trong cuộc sống. Xịt nước hoa không chỉ ...</p>
                    </div>
                </article>
            </div>
    </div>
    </div>
</section>
