
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header py-5">
    <div class="container text-center">
        <h1 class="section-title text-uppercase" data-aos="fade-up">BÀI VIẾT DÀNH CHO BẠN</h1>
        <p class="text-secondary w-100 mx-auto" data-aos="fade-up" data-aos-delay="200">
            Hãy cùng khám phá nhiều điều mới với những bài viết dưới đây nhé!
        </p>
    </div>
</section>

<section>
    <div class="container">
    <div class="row" data-aos="zoom-out">
        <div class="col-md-4">
            <article class="post-item bg-light"
                         style="display:flex; flex-direction:column; height:100%; border-radius:20px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);">
                    <div class="post-image">
                        <a href="index.html">
                            <img src="~/assets/images/Tay cầm Whisper.png" alt="image" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3" style="flex-grow:1; display:flex; flex-direction:column; justify-content:space-between;">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Bí quyết/</span>
                            <span class="meta-day"> 30 tháng 11, 2025</span>
                        </div>
                        <h5 class="post-title">
                            <a href="index.html">Bí quyết xịt nước hoa đúng cách: Xịt đúng – Lưu lâu</a>
                        </h5>
                        <p>Nước hoa đã trở thành một trong những thứ không thể thiếu trong cuộc sống. Xịt nước hoa không chỉ ...</p>
                        <a href="#" style="font-weight:600;">Đọc thêm »</a>
                    </div>
             </article>
        </div>
        <div class="col-md-4">
            <article class="post-item bg-light"
                         style="display:flex; flex-direction:column; height:100%; border-radius:20px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);">
                <div class="post-image">
                    <a href="index.html">
                        <img src="~/assets/images/Whisper có bg.png" alt="image" class="post-grid-image img-fluid">
                    </a>
                </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3" style="flex-grow:1; display:flex; flex-direction:column; justify-content:space-between;">
                    <div class="post-meta text-uppercase fs-6 text-secondary">
                        <span class="post-category">Nước hoa /</span>
                        <span class="meta-day"> 24 tháng 11, 2025</span>
                    </div>
                    <h5 class="post-title">
                        <a href="index.html">Whisper – Thầm: Lời thì thầm của hoa hồng và xạ hương dành cho tâm hồn mơ mộng</a>
                    </h5>
                        <p>Whisper – Thầm là sản phẩm nước hoa đầu tiên trong bộ sưu tập Reminiscence của Scentory.Mùi hương mở ra hành trình...</p>
                    <a href="#" style="font-weight:600;">Đọc thêm »</a>
                </div>
            </article>
        </div>
        <div class="col-md-4">
             <article class="post-item bg-light" 
                style="display:flex; flex-direction:column; height:100%; border-radius:20px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);">
                <div class="post-image">
                    <a href="index.html">
                        <img src="~/assets/images/Spring 50ml.png" alt="image" class="post-grid-image img-fluid">
                    </a>
                </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3" style="flex-grow:1; display:flex; flex-direction:column; justify-content:space-between;">
                    <div class="post-meta text-uppercase fs-6 text-secondary">
                        <span class="post-category">Tinh dầu /</span>
                        <span class="meta-day"> 22 tháng 11, 2025</span>
                    </div>
                    <h5 class="post-title">
                        <a href="index.html">Tinh dầu và không gian sống: Làm thế nào một giọt hương có thể thay đổi tâm trạng cả ngày?</a>
                    </h5>
                    <p>Mỗi căn nhà đều có mùi hương riêng. Có nhà thơm mùi nắng, có nhà vương chút hương gỗ trầm, ...</p>
                    <a href="#" style="font-weight:600;"> Đọc thêm »</a>
                </div>
            </article>
        </div>
         <div class="col-md-4" style="margin-top:30px">
             <article class="post-item bg-light"
                         style="display:flex; flex-direction:column; height:100%; border-radius:20px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);">
                    <div class="post-image">
                        <a href="index.html">
                            <img src="~/assets/images/About us - hành trình.png" alt="image" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3" style="flex-grow:1; display:flex; flex-direction:column; justify-content:space-between; margin-top:30px">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Bí quyết/</span>
                            <span class="meta-day"> 6 tháng 10, 2025</span>
                        </div>
                        <h5 class="post-title">
                            <a href="index.html">Tặng mùi hương như thế nào để chạm đến trái tim người nhận?</a>
                        </h5>
                        <p>Bạn có bao giờ nhận được một món quà mà chỉ cần thoang thoảng mùi hương là nhớ ngay tới người tặng...</p>
                        <a href="#" style="font-weight:600;"> Đọc thêm »</a>
                    </div>
             </article>
         </div>
          <div class="col-md-4" style="margin-top:30px">
              <article class="post-item bg-light"
                         style="display:flex; flex-direction:column; height:100%; border-radius:20px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);">
                    <div class="post-image">
                        <a href="index.html">
                            <img src="~/assets/images/Nốt hương.png" alt="image" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3" style="flex-grow:1; display:flex; flex-direction:column; justify-content:space-between; margin-top:30px">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Kiến thức/</span>
                            <span class="meta-day"> 4 tháng 10, 2025</span>
                        </div>
                        <h5 class="post-title">
                            <a href="index.html">Giải mã tầng hương: Tại sao Top – Heart – Base notes có thể tạo nên cả một hành trình cảm xúc?</a>
                        </h5>
                        <p>Khi nhắc đến nước hoa, người ta thường nghĩ ngay đến mùi hương dễ chịu hay sức hút quyến rũ...</p>
                        <a href="#" style="font-weight:600;"> Đọc thêm »</a>
                    </div>
              </article>
          </div>
          <div class="col-md-4" style="margin-top:30px">
                <article class="post-item bg-light"
                         style="display:flex; flex-direction:column; height:100%; border-radius:20px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);">
                    <div class="post-image">
                        <a href="index.html">
                            <img src="~/assets/images/Eclipse có bg.png" alt="image" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3" style="flex-grow:1; display:flex; flex-direction:column; justify-content:space-between;">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Nước hoa /</span>
                            <span class="meta-day"> 2 tháng 10, 2025</span>
                        </div>
                        <h5 class="post-title">
                            <a href="index.html">Eclipse – Huyền: Khi mùi hương tái hiện sức mạnh huyền bí của nhật thực</a>
                        </h5>
                        <p>Eclipse – Huyền là nốt nhạc trầm sâu lắng trong bản giao hưởng hương thơm của bộ sưu tập Remiscence...</p>
                        <a href="#" style="font-weight:600;"> Đọc thêm »</a>
                    </div>
                </article>
          </div>
          <div class="col-md-4" style="margin-top:30px">
                <article class="post-item bg-light"
                         style="display:flex; flex-direction:column; height:100%; border-radius:20px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);">
                    <div class="post-image">
                        <a href="index.html">
                            <img src="~/assets/images/Smer có bg.png" alt="image" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3" style="flex-grow:1; display:flex; flex-direction:column; justify-content:space-between; margin-top:30px">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Tinh dầu/</span>
                            <span class="meta-day"> 24 tháng 9, 2025</span>
                        </div>
                        <h5 class="post-title">
                            <a href="index.html">Seviora – Tinh dầu bốn mùa: Hành trình tái sinh từ Xuân – Hạ – Thu – Đông trong từng giọt hương</a>
                        </h5>
                        <p>Vượt ra ngoài định nghĩa của một bộ sưu tập tinh dầu thơm phòng, bộ sưu tập Seviora đến đến từ Scentory còn là thứ dẫn dắt...</p>
                        <a href="#" style="font-weight:600;"> Đọc thêm »</a>
                    </div>
                </article>
           </div>
           <div class="col-md-4" style="margin-top:30px">
                <article class="post-item bg-light"
                         style="display:flex; flex-direction:column; height:100%; border-radius:20px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);">
                    <div class="post-image">
                        <a href="index.html">
                            <img src="~/assets/images/Bìa Reminiscence ig.png" alt="image" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3" style="flex-grow:1; display:flex; flex-direction:column; justify-content:space-between; margin-top:30px">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Nước hoa/</span>
                            <span class="meta-day"> 23 tháng 9, 2025</span>
                        </div>
                        <h5 class="post-title">
                            <a href="index.html">Reminiscence – Bộ sưu tập nước hoa viết tiếp những kỷ niệm chưa bao giờ phai</a>
                        </h5>
                        <p>Bộ sưu tập Reminiscence của Scentory là lời mời gọi bạn bước vào thế giới hương thơm. Đây là nơi...</p>
                        <a href="#" style="font-weight:600;"> Đọc thêm »</a>
                    </div>
                </article>
           </div>
           <div class="col-md-4" style="margin-top:30px">
                <article class="post-item bg-light"
                         style="display:flex; flex-direction:column; height:100%; border-radius:20px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);">
                    <div class="post-image">
                        <a href="index.html">
                            <img src="~/assets/images/hoa tulip.png" alt="image" class="post-grid-image img-fluid">
                        </a>
                    </div>
                    <div class="post-content d-flex flex-wrap gap-2 my-3" style="flex-grow:1; display:flex; flex-direction:column; justify-content:space-between; margin-top:30px">
                        <div class="post-meta text-uppercase fs-6 text-secondary">
                            <span class="post-category">Câu chuyện/</span>
                            <span class="meta-day"> 21 tháng 9, 2025</span>
                        </div>
                        <h5 class="post-title">
                            <a href="index.html">Scentory: Khi mùi hương không chỉ là sản phẩm, mà là ký ức và câu chuyện cá nhân</a>
                        </h5>
                        <p>Có những mùi hương chỉ thoáng qua nhưng lại khắc sâu trong tâm trí, gợi về ký ức và cảm xúc tưởng chừng đã ngủ quên...</p>
                        <a href="#" style="font-weight:600;"> Đọc thêm »</a>
                    </div>
                </article>
           </div>
    </div>
    </div>
</section>
